.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */
.active a {
  color: #fff !important; /* Cambia el color del texto activo a blanco */
}

.ant-menu-horizontal {
  border-bottom: none;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #1890ff !important; /* Cambia el color de fondo del elemento seleccionado */
  color: #fff !important; /* Asegura que el texto del elemento seleccionado sea blanco */
  font-weight: bold; /* Opcional: Haz el texto del elemento seleccionado en negrita */
  height: 100%; /* Asegura que el elemento seleccionado ocupe toda la altura del contenedor */
}

.ant-menu-dark .ant-menu-item-selected a {
  color: #fff !important; /* Asegura que el texto del enlace en el elemento seleccionado sea blanco */
  display: flex; /* Usar flexbox para centrar el contenido vertical y horizontalmente */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  height: 100%; /* Asegura que el enlace ocupe toda la altura del elemento */
  padding: 0 20px; /* Ajusta el padding para centrar el texto dentro del cuadro */
}

.ant-menu-item {
  flex: 1;
  text-align: center;
  transition: background-color 0.3s;
}

.ant-menu-item a {
  width: 100%;
  display: block;
  height: 64px; /* Ajusta la altura del enlace para que coincida con la altura del menú */
  line-height: 64px; /* Ajusta la altura de la línea para centrar el texto verticalmente */
}

@media (max-width: 768px) {
  .ant-menu-item {
    flex: unset;
    text-align: left;
  }
}
